<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paypal.checkoutsamples">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".QuickStartApp">
        <activity android:name=".KotlinQuickStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".order.OrdersQuickStartActivity"
            android:label="@string/orders_quick_start_activity_title" />
        <activity
            android:name=".paymentbutton.PaymentButtonQuickStartActivity"
            android:label="@string/payment_button_quick_start_activity_title" />
        <activity
            android:name=".token.TokenQuickStartActivity"
            android:label="@string/token_quick_start_activity_configuration_options_title" />
    </application>

</manifest>
